@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title-section {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 1em 0 2em 0;
}

.comics-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}

.card-container .image-button {
    grid-area: image-button;
}

.card-container .text-section {
    grid-area: text-section;
}

.card-container .operation-section {
    grid-area: operation-section;
}

.card-container {
    display: grid;
    grid-template-areas:
        'image-button text-section'
        'image-button text-section'
        'image-button operation-section';
    grid-template-columns: 20% calc(80% - 1em);
    grid-template-rows: auto auto;
    column-gap: 1em;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.card-container button img {
    width: 100%;
    height: 100%;
}

.text-section {
    gap: 10em;
    width: 100%;
    height: 100%;
}

.text-section div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: .2em;
}

.text-section div h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.desc {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Change this value to the number of lines you want to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    position: relative
}

.price p {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
    margin: 1em 0;
}

.operation-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: calc(100% - 1em);
    height: 100%;
}

.operation-section .separation {
    padding: 0 1em 0 .4em;
    position: relative;
}

.operation-section .separation .quantity-section {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgrey;
    justify-content: space-between;
    border-radius: 15px;
    padding:.4em .8em;
    flex: 1;
}

.operation-section div .quantity-section span, button{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.onclick-button {
    background-color: transparent;
    margin: 0;
    border: none;
}

.operation-section div .quantity-section .click-quantity {
    cursor: pointer;
    font-weight: 600;
    width: auto;
}

.operation-section div button{
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
    width: 80px;
    border: none;
}

.operation-section div button:hover {
    text-decoration: underline;
}

.empty-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4em;
    gap: 2em;
}

.empty-section h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.empty-section img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1200px) {
    .text-section div h1 {
        font-size: 18px;
    }

    .price p {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .text-section div h1 {
        font-size: 14px;
    }

    .price {
        margin: .8em;
    }

    .price p {
        font-size: 16px;
    }

    .desc {
        font-size: 12px;
    }

    .operation-section {
        gap: .6em;
    }

    .operation-section .separation .quantity-section {
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .price p {
        font-size: 14px;
    }

    .card-container {
        width: calc(98% - 1em);
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .price p {
        font-size: 14px;
        margin: 0;
    }

    .operation-section .separation .quantity-section {
        width: 80px;
        font-size: 14px;
    }

    .text-section {
        gap: 0;
    }

    .card-container {
        grid-template-areas:
        'image-button text-section'
        'image-button operation-section';
        grid-template-columns: 30% calc(70% - .4em);
        column-gap: .4em;
        width: 98%;
        margin: 0 auto;
        padding: 0;
    }

    .desc {
        -webkit-line-clamp: 2; /* Change this value to the number of lines you want to display */
    }

    .operation-section {

    }

    .operation-section .separation {
        padding: 0;
    }
}