@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.comic-page {
    width: 60%;
    margin: 5em auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    position: relative;
}

.comic-page .image-section {
    width: 100%;
}

.comic-page .image-section img {
    width: 100%;
}

.comic-page .data-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comic-page .data-section .title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 90%;
    margin: 0 10% 0 0;
}

.comic-page .data-section .description {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0;
    max-height: 28em;
    overflow: auto;
    text-align: left;
}

.comic-page .data-section .author {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.wish {
    width: 1.8em;
    height: 1.8em;
}

.wish-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 0 13px 0 rgba(204,204,204,1);
    -moz-box-shadow: 0 0 13px 0 rgba(204,204,204,1);
    box-shadow: 0 0 13px 0 rgba(204,204,204,1);
}

.price-section, .sale-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.price-section {
    gap: 1em;
}

.sale-section {
    gap: .4em;
}

.price, .sale, .final-price {
    font-weight: bold;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.sale-section .sale {
    color: #AA0505;
}

.sale-section .price {
    text-decoration: line-through;
}

.cart-button {
    border: 1px transparent solid;
    border-radius: 15px;
    background-color: #AA0505;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    padding: .4em 0;
    width: 69%;
    display: block;
    margin: 0;
}

.button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    margin-top: 1em;
}

.button-section .quantity-section {
    width: 36%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    background-color: lightgrey;
    justify-content: space-between;
    border-radius: 15px;
    padding: .4em 2%;
}

.button-section .quantity-section span {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-section .quantity-section .click-quantity {
    cursor: pointer;
    font-weight: 600;
}


.no-display {
    display: none;
}

@media screen and (max-width: 1100px) {
    .comic-page {
        flex-direction: column;
    }
    .comic-page .image-section {
        width: 60%;
        margin: 0 auto;
    }
    .comic-page .data-section .title {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .comic-page {
        width: 90%;
    }
}