@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 150vh;
    position: relative;
    top: 0;
    padding-bottom: 10em;
}

.top-nav {
    width: 70%;
    padding: 1em 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-bottom: 1px solid #E9E9E9;
    z-index: 99;
}

.link-top-nav {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.top-nav p:hover, .link-container:hover {
    cursor: pointer;
    color: black;
}

nav {
    width: 90%;
    padding: 10px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: white;
    -webkit-box-shadow: 0 15px 64px -36px rgba(179,179,179,1);
    -moz-box-shadow: 0 15px 64px -36px rgba(179,179,179,1);
    box-shadow: 0 15px 64px -36px rgba(179,179,179,1);
    font-size: 17px;
    z-index: 99;
}

nav img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.section-container ul {
    display: flex;
    justify-content: space-between;
    gap: 8em;
    list-style: none;
    position: relative;
}

.section-container ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.section-container ul li{
    position: relative;
}

.search-container {
    display: flex;
    justify-content: space-between;
    gap: .4em;
    align-items: center;
    position: relative;
}

.subcontainer {
    width: auto;
    position: absolute;
    top: 34px;
    padding: 10px 30px 10px 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    visibility: hidden;
    gap: 4px;
    background-color: #AA0505;
    color: white;
    border-radius: 10px;
    justify-content: flex-start;
    font-size: 18px;
    white-space: nowrap;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.display-on {
    visibility: visible;
    opacity: 1;
    top: 24px;
}

.subcontainer p {
    cursor: pointer;
}

.link-container p a {
    text-decoration: none;
    color: #747373;
    cursor: pointer;
}

.link-container p a:hover {
    color: black;
}

.title-top-nav a {
    text-decoration: none;
    color: #747373;
    cursor: pointer;
}

.title-top-nav a:hover {
    color: black;
}

#check-box, #check-error-box {
    position: fixed;
    top: 8em;
    right: 0;
    padding: .4em .8em;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4em;
    transform: translateX(100%);
    transition: .8s;
}

#check-box {
    background-color: green;
}

#check-error-box {
    background-color: #AA0505;
}

#check-box p, #check-error-box p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

#check-box svg, #check-error-box svg{
    width: 1.4em;
    height: 1.4em;
}

.check-box-display {
    transform: translateX(0%) !important;
}

.search-container form {
    position: absolute;
    top: 1em;
    right: 0;
    visibility: hidden;
    transform: translateY(-50%);
    opacity: 0;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: .8em 2em;
    border: 1px transparent solid;
    -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
    gap: 1em;
    border-radius: 8px;
}

.search-container form input {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: .4em .8em;
    border: 1px rgba(0.5, 0.5, 0.5, 0.5) solid;
    border-radius: 8px;
}

.search-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4em;
    cursor: pointer;
}

.search-container form button svg {
    width: 3em;
    height: 3em;
}

.search-container form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.display-form {
    visibility: visible !important;
    transform: translateY(0%) !important;
    opacity: 1 !important;
}

.ham-menu {
    display: none;
}

.ham-menu svg {
    width: 2em;
    height: 2em;
}

.background-mobile-nav {
    width: 100%;
    background-color: rgba(.5, .5, .5, .5);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.mobile-nav {
    width: 76%;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    padding: 1em 2% 0 2%;
    transform: translateX(100%);
    visibility: hidden;
    transition: .4s;
}

.mobile-nav .mobile-top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav .mobile-top-section a img{
    width: 60px;
    height: 60px;
}

.mobile-nav .mobile-top-section .icon-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.mobile-nav .mobile-top-section .icon-section svg{
    width: 2em;
    height: 2em;
}

.mobile-nav .mobile-link-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4em;
}

.mobile-nav .mobile-link-section p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.mobile-nav form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .8em;
    margin-top: 1em;
}

.mobile-nav form input{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border: 1px black solid;
    border-radius: 8px;
    padding: .2em .8em;
}

.mobile-nav form button {
    background-color: transparent;
    border: none;
}

.mobile-nav form button svg{
    width: 2em;
    height: 2em;
}

.display-background-mobile-nav {
    opacity: 1;
    visibility: visible;
}

.display-mobile-nav {
    transform: translateX(0%);
    visibility: visible;
}

@media screen and (max-width: 920px) {

    .top-nav {
        display: none;
    }

    .section-container, .search-container {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    .ham-menu {
        display: block;
    }

    #check-box p, #check-error-box p {
        font-size: 12px;
    }

    #check-box svg, #check-error-box svg {
        width: 1em;
        height: 1em;
    }

    #check-box, #check-error-box {
        top: 4em
    }

    .mobile-text-service {
        width: 100%;
        position: absolute;
        bottom: 2em;
        left: 0;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding-bottom: 15em;
    }
}