.contact {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin: 4em auto;
}

.contact a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.contact a:hover {
    font-weight: bold;
}

.smile {
    display: block;
    margin: 2em auto;
    width: 250px;
    height: 250px;
    background-color: #00BF62;
    border-radius: 10px;
}

.contact h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.contact ul {
    background-color: lightgray;
    text-align: center;
    width: 35%;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: .4em;
    flex-direction: column;
    list-style: none;
    padding: .8em 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    transition: 1.2s;
}

.contact ul:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.contact ul li {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    word-break: unset;
}

.contact p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .contact ul {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .contact ul {
        width: 90%;
    }

    .contact ul li {
        font-size: 14px;
    }

    .contact h1 {
        font-size: 22px;
        margin: 0 .4em;
    }

    .contact {
        gap: 2em;
    }

    .smile {
        width: 150px;
        height: 150px;
    }
}